/* CSS Document */
#msg {display:none; position:absolute; z-index:99999999999999999999999999900; background:url(../imgs/msg_arrow_blue.gif) left center no-repeat; padding-left:7px;font:normal 11px tahoma; color:#fff;}
#msgcontent {display:block; background:#A63124; border:2px solid #C63A2B; border-left:none; padding:5px; min-width:150px; max-width:250px;}

